:root {
  --color-bg: #fff;
  --color-text: #000;
  --color-bg-card: #fff;
  --color-links: #1d1283;
  --color-events: #e30162;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: 'raleway';
  background: transparent;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(315deg, rgba(2, 0, 36, 1) 0%, rgba(118, 51, 194, 1) 50%, rgba(1, 90, 148, 1) 100%);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 4rem;
}

/* first screen css */
.first-screen {
  background-color: transparent;
}

.heading-handles-container {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seperators,
.rds-logo-banner {
  display: none;
}

.welcome-text {
  font-size: 2.5rem;
  margin-left: 5%;
  color: #ffffff;
}

.new-inside {
  font-size: 50px;
}

.welcome {
  color: #f9f871;
}

.to-the {
  font-weight: 400;
}

.welcome-image {
  width: 35%;
  height: auto;
  width: 70%;
  margin: 5%;
  margin-bottom: 0px;
 
}

.handles-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;

}

.cock {
  width: 100%;
  display: flex;
  justify-content: center;
}


.news-feeds-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  width: 90%;
  padding: 1%;
  margin-top: 5%;
}

.new-inside:hover {
  color: #f9f871;
  cursor: pointer;
  
}

.description {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 5%;
}