* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.header div {
    font-size: 18px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.subTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
    margin-top: 30px;
    background-image: url('./img/francesco-vantini-ZavLsrP4CDI-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    transition: all 0.3s ease-in-out;
}

.component:hover .component-info-name,
.component:hover .component-info-value {
    /*make it fade in*/
    opacity: 1;
    display: block;
    cursor: pointer;
}

.component-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.component-info-name {
    font-size: 36px;
    font-weight: bold;
}

.component-info-value {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.component-info-name,
.component-info-value {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.component-info-name {
    font-weight: bold;
}